[submodule "ext/lwip"]
	path = ext/lwip
	url = https://git.savannah.nongnu.org/git/lwip.git
[submodule "ext/enc28j60driver"]
	path = ext/enc28j60driver
	url = https://gitlab.com/enc28j60driver/enc28j60driver.git
